---
title: Playback API
parent: Home
description:  '<p>Playback API는 Video Cloud에서 비디오 및 재생 목록 데이터를 가져오는 데 사용됩니다. 일반적으로 웹 페이지 또는 모바일 앱에서 플레이어로 비디오 데이터를 가져오는 데 사용됩니다. &nbsp; Playback API는 웹 페이지 또는 모바일 앱에서 비디오 또는 재생 목록 데이터를 가져올 때 클라이언트 측에서 사용하기 위한 저지연 API입니다. Video Cloud를 CMS 또는 다른 시스템과 통합하는 데 사용하는 일반적인 미디어 관리 API가 아닙니다. <a href="/cms/index.html"> CMS API</a> .</p>

<p>Playback API에 대한 인증에는 정책 키가 필요하며 이는 다음을 사용하여 얻을 수 있습니다. <a href="/policy/index.html">Policy API</a>또는<a href="/policy/getting-started/policy-keys.html">플레이어로부터</a>귀하의 계정에서.</p>'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">
  <div style="width: 100%;">
      <div style="width: 35%;vertical-align: top;display: inline-block;"><div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="6004281287001">&nbsp;</div>
        <script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></div>
      <div style="display: inline-block; width: 55%;"><summary style="display: block;">{{ page.description }}</summary></div>
  </div>
    
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>