
---
title: 'MRSS를 통한 섭취: 시작하기'
parent: Ingestion via MRSS
description: This section provides detailed information about setting up ingestion via an MRSS feed.
layout: staging 
---

<style>
  .섹션 아이콘{ font-size: 3rem; vertical-align: text-top; color: rgb(9, 7, 140); margin-right: .5rem; } .카드 래퍼{ justify-content: start; }
</style>
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <h2 id="Topics_in_this_section">이 섹션의 주제</h2>
  <section class="bcls-card-small">
    <div class="card-content">
      <ul>
        <li><a href="/mrss-ingestion/getting-started/ingesting_from_a_remotely_hosted_mrss_feed.html">MRSS 피드를 통한 수집</a></li>
        <li><a href="/mrss-ingestion/getting-started/xml-manifest-for-ingestion-via-mrss.html">MRSS를 통한 수집을 위한 XML 매니페스트</a></li>
      </ul>
    </div>
  </section>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <ul>
          {% for item in site.data.navigation %} {% if item.name == page.title %} {% for entry in item.docs %}
          <li><a href="{{ entry.url }}">{{ entry.name }}</a> {% if entry.docs %}
            <ul>
              {% for subentry in entry.docs %}
              <li><a href="{{ subentry.url }}">{{ subentry.name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %} </li>
          {% endfor %} {% endif %} {% endfor %}
        </ul>
      </div>
    </section>
  </section>
</article>