---
title: 교차 기기 이력서 API
parent: Home
description: "Brightcove's cross-device resume (XDR) feature lets you start watching video on one device, like mobile, and switch to another device, like your home TV. When you switch, you'll continue watching where you left off. This provides a seamless viewing experience for a piece of content."
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary style="display: block;">{{ page.description }}</summary>
    
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}

        <!-- remove sections below when this goes live -->
        <section class="bcls-card-small">
          <div class="card-content">
            <h2>시작하기</h2>
            <ul>
             <li><a href="/xdr/getting-started/xdr-overview.html">개요: 교차 기기 이력서</a></li>
             <li><a href="/xdr/getting-started/get-playback-position.html">XDR API에서 재생 위치 가져오기</a></li>
            </ul>
          </div>
        </section>
        <section class="bcls-card-small">
          <div class="card-content">
            <h2>가이드</h2>
            <ul>
             <li><a href="https://player.support.brightcove.com/playback/xdr-with-bcplayer.html">Brightcove Player를 사용한 교차 장치 이력서</a></li>
             <li><a href="https://sdks.support.brightcove.com/features/cross-device-resume-sdks.html">네이티브 SDK를 사용한 교차 기기 이력서</a></li>
            </ul>
          </div>
        </section>
        <section class="bcls-card-small">
          <div class="card-content">
            <h2>참고문헌</h2>
            <ul>
             <li><a href="/xdr/references/reference.html">XDR API 참조</a></li>
            </ul>
          </div>
        </section>
        
        <!-- end removal -->
    
  </section>
</article>