---
title: Player Management API
parent: Home
description:  '<p>플레이어 관리는 퍼블리셔에 대한 리소스로서 플레이어의 생성, 편집 및 관리를 의미합니다. 플레이어 관리는 소비자가 플레이어 인스턴스를 생성, 구성, 미리보기 및 게시할 수 있도록 하는 서버 측 REST API에 의해 달성됩니다.</p>

<p>API를 사용하여 수행할 수 있는 대부분의 작업은 다음에서도 수행할 수 있습니다. <a href="https://studio.support.brightcove.com/players/getting-started-players-module.html">사진관</a> .</p>'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">

  <div style="width: 100%;">
      <div style="width: 35%;vertical-align: top;display: inline-block;"><div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="5996554436001">&nbsp;</div>
			<script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></div>
      <div style="display: inline-block; width: 55%;"><summary style="display: block;">{{ page.description }}</summary></div>
  </div>
    
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>