---
title: OAuth API
parent: Home
description:  '<p>Brightcove 구현<a href="http://oauth.net/2/"> OAuth2</a>&nbsp;다양한 Brightcove API에 대한 액세스 토큰을 얻을 수 있습니다.</p>
<p>Brightcove 구현은 두 부분으로 구성됩니다.</p>
<ul>
  <li>OAuth API - 사용 가능한 모든 OAuth 기능에 대한 액세스를 제공합니다.</li>
  <li>OAuth 자격 증명 UI - Studio의 계정 설정 인터페이스를 통해 액세스할 수 있는 이 UI는 Brightcove API를 사용할 앱을 등록하고 앱에 대한 클라이언트 ID와 클라이언트 암호를 생성하는 쉬운 방법을 제공합니다. 보다<a href="/general/managing-api-authentication-credentials.html"> API 인증 자격 증명 관리</a> OAuth UI 사용에 대한 지침은</li>
</ul>'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>