---
title: 재생 승인
parent: Home
description: "Brightcove's Playback Authorization Service (PAS) offers an extra level of security when delivering DRM-protected content with Dynamic Delivery. This is particularly useful for customers who want to control access to their content, and prevent unauthorized sharing of content."
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">

  <section class="card-wrapper"> {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
    <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
      <div class="card-content">
        <h2>{{ subsection.name }}</h2>
        <ul>
          {% for doc in subsection.docs %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endfor %} {% endif %} {% endfor %} 
    <!-- remove sections below when this goes live -->
    <section class="bcls-card-small" >
      <div class="card-content">
        <h2>시작하기</h2>
        <ul>
          <li><a href="/playback-authorization/getting-started/overview-playback-authorization-service.html">개요: 재생 권한 부여 서비스가 포함된 DRM</a></li>
          <li><a href="/playback-authorization/getting-started/technical-workflow-pas.html">Playback Authorization Service로 DRM 구현</a></li>
        </ul>
      </div>
    </section>
    <section class="bcls-card-small" >
      <div class="card-content">
        <h2>가이드</h2>
        <ul>
          <li><a href="/playback-authorization/guides/create-jwt-staging.html">만들기<span translate="No"> JSON 웹 토큰</span> (JWT) - 스테이징</a></li>
          <li><a href="/playback-authorization/guides/additional-apis-for-pas.html">재생 승인 서비스를 위한 추가 API</a></li>
          <li><a href="/playback-authorization/guides/stream-concurrency.html">뷰어당 동시 스트림 제한</a></li>
          <li><a href="/playback-authorization/guides/using-pas-with-bcp.html">Brightcove Player에서 재생 인증 DRM 사용</a></li>
          <li><a href="/playback-authorization/guides/using-pas-with-sdks.html">네이티브 SDK와 함께 재생 승인 DRM 사용</a></li>
        </ul>
      </div>
    </section>
    <section class="bcls-card-small" >
      <div class="card-content">
        <h2>참고문헌</h2>
        <ul>
          <li><a href="/playback-rights/references/audit-api/reference.html">감사 API 참조</a></li>
          <li><a href="/playback-rights/references/blacklist-api/reference.html">블랙리스트 API 참조</a></li>
          <li><a href="/playback-rights/references/key-api/reference.html">주요 API 참조</a></li>
        </ul>
      </div>
    </section>
  </section>
</article>