---
title: Audience API
parent: Home
description: 'The Audience API allows you to retrieve viewing event and lead data. This API is aimed primarily at those integrating Audience with a CMS or other system.'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary style="display: block;">{{ page.description }}</summary>
  <aside class="bcls-aside bcls-aside--information">Audience API에 대한 설명서만 여기에 있습니다. SSAI에 대한 일반 문서를 보려면 다음으로 이동하십시오. <a href="https://audience.support.brightcove.com/index.html">관객 사이트</a> .</aside>
	<section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>